a:link,
a:visited {
  color: #666;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: currentColor;
  text-decoration-thickness: auto;
}

.footer {
  display: inline-flex;
  width: 100%;
}

.content {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  line-height: 1.875;
  width: 60%;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  padding-bottom: 8px;
}

img {
  width: 100%;
}

.content > ul:nth-child(2) > img:nth-child(27) {
  width: 120%;
  padding-right: 0;
  margin-right: 0;
  height: 579.95px;
  margin-left: -65px;
  padding-left: 0;
}

.content > ul:nth-child(2) > li:nth-child(7) > img:nth-child(1) {
  width: 40px;
}

#nav-left {
  display: flex;
  flex-direction: row;
  width: 70px;
  flex-grow: 0;
  padding-right: 52px;
}

.nav-title > svg {
  width: 300px;
}

#nav-center {
  display: flex;
  flex-direction: row;
  width: 500px;
  flex-grow: 0;
  padding-right: -6px;
}

#nav-right {
  display: flex;
  flex-direction: row;
  width: 400px;
  flex-grow: 0;
  justify-content: flex-end;
  padding-left: 436px;
}

#nav-left > img:nth-child(1) {
  margin-left: 4px;
  padding-right: 7px;
  margin-right: 6px;
}

#nav-center > svg:nth-child(2) {
  border-right-width: 0;
  border-right-style: solid;
  margin-right: -200px;
  height: 52.817px;
  width: 377.733px;
  justify-content: center;
  align-items: center;
  padding-left: 248px;
  margin-left: 0;
}

#nav-right > button:nth-child(2) {
  padding-left: 9px;
  height: 40px;
  margin-top: 7px;
  background: #567b95;
  font-weight: bold;
  color: white;
  border-top-width: 0;
  border-top-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-left-width: 0;
  border-left-style: solid;
  margin-right: 16px;
}

#nav-left > img:nth-child(2) {
  padding-left: 20px;
}

#nav-center > span:nth-child(1) {
  height: 30.817px;
  width: 333.383px;
  margin-top: 15px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: bold;
}

#nav-right > button:nth-child(1) {
  padding-right: 5px;
  margin-right: 44px;
  height: 40px;
  margin-top: 7px;
  background: #567b95;
  font-weight: bold;
  color: white;
  border-bottom-width: 0;
  border-bottom-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-top-width: 0;
  border-top-style: solid;
  border-left-width: 0;
  border-left-style: solid;
}

.icons {
  width: 25px;
  float: left;
  margin-left: 4px;
  margin-bottom: 20px;
}

p {
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 20px;
}

.css-1fbzgn7 {
  flex-direction: row;
}

ul li {
  display: inline-block;
  padding: 5px;
}

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: lighter;
  font-style: italic;
}

.copyright-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top-width: 1px;
  border-top-style: solid;
}

.copyright-box > ul:nth-child(1) {
  flex-wrap: nowrap;
  flex-direction: row;
  display: flex;
  font-size: 12px;
  padding-left: 0;
  padding-top: 0;
  border-top-width: 0;
  border-top-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.footer > footer:nth-child(1) {
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.css-r5ic95 {
  height: 50px;
  width: 50px;
}

.css-1gprdgz {
  display: grid;
}

.css-1iruc8t {
  display: grid;
}

.nav-text {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.css-g4gku8 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.nav-bar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.two-grids {
  display: grid;
  grid-template-columns: auto auto;
}

.css-oylsik {
  width: 500px;
}

.css-124yz3h {
  width: 82px;
}

.css-12t2l5p {
  width: 400px;
}

.nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.css-1y4vkv1 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.css-vy7nt4 {
  display: grid;
  grid-template-columns: auto auto auto;
}

.css-xscrdc {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.css-6td9kr {
  display: grid;
}

.table1 {
  display: grid;
}

.table1 > a {
  text-align: left;
}

/* Inline #1 | http://127.0.0.1:5500/articlePage.html */

.nav-title {
  display: grid;
  grid-template-columns: auto auto;
}

.nav-title > a {
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
}

.article-container-img {
  width: 70px;
}

.A-A-container-img {
  height: 181.75px;
  width: 272.633px;
}

.articles-suggested {
  display: grid;
  grid-template-columns: auto auto auto;
}

.editor-pick > div > figure > img {
  height: 181.75px;
  width: 272.633px;
}

/* Inline #1 | http://127.0.0.1:5501/articlePage.html */

.editor-pick {
  display: grid;
  grid-template-columns: auto auto auto;
}

.first-article {
  grid-column: 1 / span 3;
}

/* Element | http://127.0.0.1:5501/articlePage.html */

.actual-articles {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* Inline #1 | http://127.0.0.1:5501/articlePage.html */

.right-column {
  display: grid;
  height: 600px;
}

.two-columns {
  display: grid;
  grid-template-columns: 60% 40%;
}

/* Inline #1 | http://127.0.0.1:5501/articlePage.html */

.right-column > a {
  height: 28px;
  text-align: left;
  font-size: large;
}


/* Inline #1 | http://127.0.0.1:5501/articlePage.html */

#container {
  margin-left: 10px;
  margin-right: 10px;
}

A-A-container-img, .editor-pick > div > figure > img {
}

/* stylesheet.css | http://127.0.0.1:5501/stylesheet.css */

.right-column {
  border-top-width: 2px;
  border-top-style: solid;
}

.two-columns {
  /* grid-template-columns: 60% 40%; */
  grid-template-columns: 60% 30%;
  width: 102%;
  margin-left: 50px;
  margin-right: auto;
}

.A-A-container-img {
  /* width: 272.633px; */
}

/* Element | http://127.0.0.1:5501/articlePage.html */

.articles {
  border-top-width: 2px;
  border-top-style: solid;
  padding-top: 22px;
}

/* Element | http://127.0.0.1:5501/articlePage.html */

.right-column {
  margin-left: 26px;
  padding-left: 0px;
}

/* Element | http://127.0.0.1:5501/articlePage.html */

.actual-articles1 > div:nth-child(1) > figure:nth-child(1) > img:nth-child(1) {
  width: 188.633px;
}
